<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelompok 4</title>
</head>
<body style='padding: 25px'>
    <p>SEMUA MOVIE AKAN TAMPIL DI SINI</p>
    <button><a href="form">Menambahkan Film</a></button>

    <!-- Mode menghapus memunculkan semua tombol untuk menghapus film dari database  -->
    <button>Menghapus Film</button>

</body>
</html>