<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="movies.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelompok 4</title>
</head>
<body, style="padding: 25px">
    <h1>MOVIE PAK TEI</h1>
    <p>Selamat datang di link streaming kami!</p>
    <button class = "glow-on-hover" type=button><a href="form">Menambahkan Film</a></button>

    <!-- Mode menghapus memunculkan semua tombol untuk menghapus film dari database  -->
    <button class = "glow-on-hover" type=button>Menghapus Film</button>
    <br>
    <br>
    <div>
        <hr>
        <hr>
        {% for movie in movie_sorted %}
        <div class = "daftar_film">
            <hr>
            <img src={{ movie.poster.url }}>
            <iframe width="400" height="250" src={{ movie.trailer }}></iframe>
            <p><b>{{ movie.judul }}</b></p>
            <p>{{ movie.genre }}</p>
            <p>{{ movie.tahun_rilis }}</p>
            
            <button class = "type"><input width="45" height = "30" type="image" name="Like" src="https://e7.pngegg.com/pngimages/385/728/png-clipart-emoji-facebook-emoticon-heart-facebook-love-emoji-heart-illustration-miscellaneous-text.png" alt="text"></button>
            <button class = "glow-on-hover">Dislike</button>
            <button class = "glow-on-hover">Remove</button>
            <hr>
            <hr>
        </div>
        {% endfor %}
    </div>
</body,>
</html>